@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;900&display=swap");
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  background: #e1e1e1;
}

/* Removendo as bordas padrões */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

/* Os headings não têm estilo  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Header e Navbar */
.top-nav {
  background: #c0c0c0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 0.5em;
}

.top-nav ul li {
  cursor: pointer;
}

.top-nav ul li:not(:first-child)::before {
  content: "|";
  padding-right: 0.5rem;
  cursor: default;
}

@media (hover: hover) and (pointer: fine) {
  .top-nav ul:hover {
    /* https://ferie.medium.com/detect-a-touch-device-with-only-css-9f8e30fa1134 */
    /* mouse, touch pad */
    color: lightblue;
  }
  .top-nav ul:hover::before {
    color: #1f2d3d;
  }
}

.top-nav .input-container {
  position: relative;
}

.top-nav .input-container input {
  background: url("images/magnify.svg") 0.5rem 50% no-repeat;
  padding: 0.75rem 1rem 0.75rem 2.25rem;
  border-radius: 8px;
  border: thin solid #4e4e4e;
  appearance: none;
}

.top-nav .input-container .delete-button {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background-color: transparent;
  background-image: url("images/close-circle-outline.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  appearance: none;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

/* Profile Section */
.profile-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  column-gap: 2rem;
}

@media (min-width: 576px) {
  .profile-section {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .profile-section {
    width: 540px;
  }
}

@media (min-width: 992px) {
  .profile-section {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .profile-section {
    width: 960px;
  }
}

@media (min-width: 1400px) {
  .profile-section {
    width: 1140px;
  }
}

.profile-section .profile-section__profile-picture {
  border-radius: 4px;
  height: 60vh;
  background: #ffffff;
  border: 1px solid #1f2d3d80;
  padding: 0.25rem;
}

.profile-section .profile-section__side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-section .profile-section__side .profile-section__profile-information h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.profile-section .profile-section__side .profile-section__profile-information p {
  line-height: 1.5em;
  font-size: 1.25rem;
}

.profile-section .profile-section__side .profile-section__social-networks-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1f2d3d;
  margin-bottom: 0.75rem;
}

.profile-section .profile-section__side .profile-section__social-networks-images {
  height: 30px;
  display: flex;
  column-gap: 1.5rem;
}

.profile-section .profile-section__side .profile-section__social-networks-images a,
.profile-section .profile-section__side .profile-section__social-networks-images img {
  height: 100%;
  display: block;
}
/*# sourceMappingURL=style.css.map */