@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;900&display=swap");

$black: #212427;
$primary: #1f2d3d;
$secondary: #607994;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  background: #e1e1e1;
}

/* Removendo as bordas padrões */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

/* Os headings não têm estilo  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Header e Navbar */

.masthead nav {
  background: #c0c0c0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 0.5em;

    li {
      cursor: pointer;

      &:not(:first-child)::before {
        content: "|";
        padding-right: 0.5rem;
        cursor: default;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          /* https://ferie.medium.com/detect-a-touch-device-with-only-css-9f8e30fa1134 */
          /* mouse, touch pad */
          color: $secondary;
        }

        &:hover::before {
          color: #1f2d3d;
        }
      }
    }
  }

  .input-container {
    position: relative;

    input {
      background: url("images/magnify.svg") 0.5rem 50% no-repeat;
      padding: 0.75rem 1rem 0.75rem 2.25rem;
      border-radius: 8px;
      border: thin solid rgb(78, 78, 78);
      appearance: none;
    }

    .delete-button {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
      background-color: transparent;
      background-image: url("images/close-circle-outline.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: none;
      appearance: none;
      height: 1rem;
      width: 1rem;
      cursor: pointer;
    }
  }
}

/* Aplicar a todas secoes responsivas */
.responsive-section {
  // Mobile First - Extra small
  width: 100%;
  margin: 0 auto;

  // Small
  @media (min-width: 576px) {
    & {
      width: 540px;
    }
  }

  // Medium
  @media (min-width: 768px) {
    & {
      width: 540px;
    }
  }

  // Large
  @media (min-width: 992px) {
    & {
      width: 720px;
    }
  }

  // X-Large
  @media (min-width: 1200px) {
    & {
      width: 960px;
    }
  }

  // XX-Large
  @media (min-width: 1400px) {
    & {
      width: 1140px;
    }
  }
}

/* Profile Section */

.profile-section {
  @extend .responsive-section;
  display: flex;
  column-gap: 2rem;

  .profile-section__profile-picture {
    border-radius: 4px;
    height: 60vh;
    background: #ffffff;
    border: 1px solid #1f2d3d80;
    padding: 0.25rem;
  }

  .profile-section__side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $black;

    .profile-section__profile-information h2 {
      font-size: 1.75rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .profile-section__profile-information p {
      line-height: 1.5em;
      font-size: 1.25rem;
    }

    .profile-section__social-networks-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
      color: $primary;
    }

    .profile-section__social-networks-images {
      height: 30px;
      display: flex;
      column-gap: 1.5rem;

      a,
      img {
        height: 100%;
        display: block;
      }
    }
  }
}

/* Seção de Projetos */
.projects-section {
  @extend .responsive-section;
  margin-top: 4rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 1.75rem;
      font-weight: 600;
      color: $primary;
    }

    select {
      padding: 0.75rem 2.25rem 0.75rem 1rem;
      font-size: 1.25rem;
      font-weight: 500;
      color: $primary;
      background-color: transparent;
      background-image: url("images/chevron-down.svg");
      background-position: right 0.5rem center;
      background-repeat: no-repeat;
      border: thin solid rgb(78, 78, 78);
      border-radius: 8px;
      appearance: none;

      &:focus {
        background-image: url("images/chevron-up.svg");
      }

      option {
        color: $primary;
        font-weight: 100;
      }
    }
  }

  .projects-section__projects-list {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    flex-wrap: wrap;

    figure {
      img {
        display: block;
        height: 180px;
        border-radius: 4px;
      }

      figcaption {
        margin-top: 0.25rem;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.75rem;
        color: $primary;
      }
    }
  }
}

.mastfooter {
  @extend .responsive-section;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  padding: 2rem 0rem;
  border-top: thin solid white;
  padding: 2rem 0rem;
  font-size: 0.85rem;
  font-weight: 100;

  & > span:last-of-type {
    border: thin solid $primary;
    border-radius: 2px;
    padding: 0.5rem;
  }
}
