@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;900&display=swap");

// Cores
$black: #212427;
$primary: #1f2d3d;
$secondary: #607994;
$tertiary: #525252;

// Breakpoints
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-xlarge: 1200px;
$screen-xxlarge: 1400px;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  background: #e1e1e1;
}

/* Removendo as bordas padrões */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

/* Os headings não têm estilo  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Botões */
.btn {
  appearance: none;
  padding: 0.5rem 0.75rem;
  background: $tertiary;
  border-radius: 4px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &--plus {
    &::before {
      content: "";
      display: block;
      background-color: transparent;
      background-image: url("images/plus.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 1.5rem;
      width: 1.5rem;
      color: white;
      margin-right: 0.25rem;
    }
  }
}

/* Linhas */
.hr {
  border: none;
  border-top: thin solid rgba($secondary, 0.25);
}

/* Header e Navbar */

.masthead nav {
  background: #c0c0c0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  ul {
    display: none;
  }

  .input-container {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      background: url("images/magnify.svg") 0.5rem 50% no-repeat;
      padding: 0.75rem 1rem 0.75rem 2.25rem;
      border-radius: 8px;
      border: thin solid rgb(78, 78, 78);
      appearance: none;
    }

    .delete-button {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
      background-color: transparent;
      background-image: url("images/close-circle-outline.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: none;
      appearance: none;
      height: 1rem;
      width: 1rem;
      cursor: pointer;
    }
  }

  @media (min-width: $screen-large) {
    justify-content: space-between;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      column-gap: 0.5em;

      li {
        cursor: pointer;

        &:not(:first-child)::before {
          content: "|";
          padding-right: 0.5rem;
          cursor: default;
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            /* https://ferie.medium.com/detect-a-touch-device-with-only-css-9f8e30fa1134 */
            /* mouse, touch pad */
            color: $secondary;
          }

          &:hover::before {
            color: #1f2d3d;
          }
        }
      }
    }

    .input-container {
      width: auto;

      input {
        width: auto;
      }
    }
  }
}

/* Aplicar a todas secoes responsivas */
.responsive-section {
  // Mobile First - Extra small
  width: 100%;
  margin: 0 auto;

  // Small
  @media (min-width: $screen-small) {
    & {
      width: 540px;
    }
  }

  // Medium
  @media (min-width: $screen-medium) {
    & {
      width: 540px;
    }
  }

  // Large
  @media (min-width: $screen-large) {
    & {
      width: 720px;
    }
  }

  // X-Large
  @media (min-width: $screen-xlarge) {
    & {
      width: 960px;
    }
  }

  // XX-Large
  @media (min-width: $screen-xxlarge) {
    & {
      width: 1140px;
    }
  }
}

/* Profile Section */

.profile-section {
  @extend .responsive-section;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 2rem;
  padding: 0rem 0.5rem;

  .profile-section__profile-picture {
    border-radius: 4px;
    height: 30vh;
    background: #ffffff;
    border: 1px solid #1f2d3d80;
    padding: 0.25rem;
  }

  .profile-section__side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $black;

    .profile-section__profile-information h2 {
      font-size: 1.75rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .profile-section__profile-information p {
      line-height: 1.5em;
      font-size: 1.25rem;
    }

    .profile-section__social-networks-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
      color: $primary;
    }

    .profile-section__social-networks-images {
      height: 30px;
      display: flex;
      column-gap: 1.5rem;

      a,
      img {
        height: 100%;
        display: block;
      }
    }
  }

  @media (min-width: $screen-large) {
    flex-direction: row;
    padding: 0rem;

    .profile-section__profile-picture {
      height: 60vh;
    }
  }
}

/* Seção de Projetos */
.projects-section {
  @extend .responsive-section;
  margin-top: 4rem;
  padding: 0rem 1rem;

  @media (min-width: $screen-large) {
    padding: 0rem;
  }

  header {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 1.75rem;
      font-weight: 600;
      color: $primary;
    }

    select {
      padding: 0.75rem 2.25rem 0.75rem 1rem;
      font-size: 1.25rem;
      font-weight: 500;
      color: $primary;
      background-color: transparent;
      background-image: url("images/chevron-down.svg");
      background-position: right 0.5rem center;
      background-repeat: no-repeat;
      border: thin solid rgb(78, 78, 78);
      border-radius: 8px;
      appearance: none;

      &:focus {
        background-image: url("images/chevron-up.svg");
      }

      option {
        color: $primary;
        font-weight: 100;
      }
    }

    @media (min-width: $screen-small) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .projects-section__projects-list {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;

    @media (min-width: $screen-small) {
      justify-content: space-between;
    }

    figure {
      img {
        display: block;
        height: auto;
        width: 100%;
        border-radius: 4px;

        @media (min-width: $screen-small) {
          height: 180px;
          width: auto;
        }
      }

      figcaption {
        margin-top: 0.25rem;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.75rem;
        color: $primary;
        text-align: center;
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    @media (min-width: $screen-small) {
      justify-content: flex-end;
    }
  }
}

/* Secao de experiencia */
.experience-section {
  @extend .responsive-section;
  margin-top: 4rem;
  padding: 0rem 1rem;

  @media (min-width: $screen-large) {
    padding: 0rem;
  }

  header {
    margin-bottom: 2rem;

    h2 {
      font-size: 1.75rem;
      font-weight: 600;
      color: $primary;
    }
  }

  .experience-section__experience-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .experience-section__experience-card {
      display: flex;
      align-items: center;
      column-gap: 1rem;

      & > img {
        height: 100px;
        border-radius: 4px;

        @media (min-width: $screen-small) {
          height: 130px;
        }
      }

      .experience-section__experience-card__side {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;
        justify-content: space-between;

        h3 {
          font-size: 1.25rem;
          font-weight: 700;
          color: $primary;
          text-align: center;

          @media (min-width: $screen-small) {
            text-align: left;
          }
        }

        p:first-of-type {
          font-size: 1rem;
          text-align: justify;

          @media (min-width: $screen-small) {
            text-align: left;
          }
        }

        p:last-of-type {
          font-weight: 100;
          font-size: 1.125rem;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    @media (min-width: $screen-small) {
      justify-content: flex-end;
    }
  }
}

/* Secao de repositorios */
.github-repositories-section {
  @extend .responsive-section;
  margin-top: 4rem;
  padding: 0rem 1rem;

  @media (min-width: $screen-large) {
    padding: 0rem;
  }

  header {
    margin-bottom: 2rem;

    h2 {
      font-size: 1.75rem;
      font-weight: 600;
      color: $primary;
    }
  }

  .github-repositories-section__repositories-list {
    display: flex;
    flex-direction: column;
    gap: 1rem 0rem;

    @media (min-width: $screen-large) {
      flex-direction: row;
      gap: 0rem 1rem;
    }

    .github-repositories-section__repository-card {
      display: flex;
      align-items: flex-start;
      column-gap: 1rem;

      .repository-card__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background: #c4c4c4;
        border-radius: 50%;
      }
    }

    .repository-card__text-container {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      margin-top: 0.75rem;

      h3 {
        font-size: 1.55rem;
        font-weight: 600;
        color: $primary;
      }

      & > p:last-child {
        font-weight: 700;
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    @media (min-width: $screen-small) {
      justify-content: flex-end;
    }
  }
}

/* footer */
.mastfooter {
  @extend .responsive-section;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  align-items: center;
  margin-top: 4rem;
  padding: 2rem 0rem;
  border-top: thin solid white;
  padding: 2rem 1rem;
  font-size: 0.85rem;
  font-weight: 100;
  text-align: center;

  @media (min-width: $screen-large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 2rem 0rem;
  }

  & > span:last-of-type {
    border: thin solid $primary;
    border-radius: 2px;
    padding: 0.5rem;
  }
}
